<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Orders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>

        input[type="text"] {
            font-size: 24px;
            height: 30px;
            width: 500px;
        }</style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/api/home">anytime</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/api/welcome">Home</a></li>
            <li><a href="/api/car">Cars</a></li>
            <li class="active"><a href="/api/order">Orders</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAnyAuthority('ADMIN')">
                <form sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/api/order/adminOrders}" method="post">
                    <input type="submit" class="btn-primary" name="submit" value="Admin menu">
                </form>
            </li>
            <li><a href="/api/profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>
<div>
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="h3 mb-3 font-weight-normal">Orders:</h1>
        <table class="table table-hover col-md-12">
            <tr>
                <th class="col-md-2">Lease Date&Time from</th>
                <th class="col-md-2">Lease Date&Time to</th>
                <th class="col-md-2">PassportDetails</th>
                <th class="col-md-1">Admin Approval</th>
                <th class="col-md-3">Notes</th>
                <th class="col-md-2">Admin menu</th>
            </tr>
            <div th:each="ord : *{orders}">
                <tr th:if="${ord.getAdminApproval()==false}" class="info">
                    <td th:text="${ord.getLeaseDateAndTimeFrom()}" class="col-md-2">LeasePeriodFrom</td>
                    <td th:text="${ord.getLeaseDateAndTimeTo()}" class="col-md-2">LeasePeriodTo</td>
                    <td th:text="${ord.getPassportDetails()}" class=" col-md-2">PassportDetails</td>
                    <td th:text="${ord.getAdminApproval()}" class="col-md-1">Admin Approval</td>
                    <td th:text="${ord.getNotes()}" class="col-md-3">Notes</td>
                    <td class="col-md-2">
                        <div>
                            <form th:action="@{/api/order/decision}" method="post">
                                <input type="hidden" th:value="${ord.getId()}" name="orderId">
                                <input type="submit" class="btn-success" name="submit" value="Рассмотреть">
                            </form>
                        </div>
                    </td>
                </tr>
            </div>
        </table>
        <div class="col-md-2"></div>
    </div>
</div>
</body>
</html>
