<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Cars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        input[type="text"] {
            font-size: 24px;
            height: 30px;
            width: 500px;
        }</style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/api/home">anytime</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/api/welcome">Home</a></li>
            <li><a href="/api/car">Cars</a></li>
            <li><a href="/api/order">Orders</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAnyAuthority('ADMIN')">
                <form sec:authorize="hasAnyAuthority('ADMIN')" th:action="@{/api/order/adminOrders}" method="post">
                    <input type="submit" class="btn-primary" name="submit" value="Admin menu">
                </form>
            </li>
            <li><a href="/api/profile"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
        </ul>
    </div>
</nav>
<div class="col-md-12">
    <div class="col-md-5">
        <h1 class="bg-primary">About this order: </h1>
        <h3 class="bg-info">LeasePeriodFrom: <span class="t" th:text="${currentOrder.getLeaseDateAndTimeFrom()}"> Lease Date And Time From </span>
        </h3>
        <h3 class="bg-info">LeasePeriodTo: <span th:text="${currentOrder.getLeaseDateAndTimeTo()}"> Lease Date And Time To </span>
        </h3>
        <h3 class="bg-info">Admin Approval: <span class=""
                                                  th:text="${currentOrder.getAdminApproval()}"> AdminApproval </span>
        </h3>
        <h3 class="bg-info">Notes: <span class="" th:text="${currentOrder.getNotes()}"> Notes </span>
        </h3>
        </h3>
        <h3 class="bg-info">PassportDetails: <span class="" th:text="${currentOrder.getPassportDetails()}"> PassportDetails </span>
        </h3>
        <br/>33
    </div>
    <div class="col-md-7">
        <form class="form-signin" th:action="@{/api/order/saveDecision}" th:method="post">
            <br/>
            <div class="form-group">
                <label for="notes">Comments:</label>
                <textarea name="notes" class="form-control" placeholder="Some notes.." rows="5" id="notes"></textarea>
            </div>
            <input type="checkbox" name="decision" value="true"> Accept<Br>
            <input type="checkbox" name="decision" value="false"> Decline<Br>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Accept</button>
        </form>
    </div>
</div>
</body>
</html>
