<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Car</title>
    <head>
        <title>SearchPage</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>input[type="text"] {
            font-size: 24px;
            height: 30px;
            width: 500px;
        }</style>
    </head>
</head>
<body>
<table class="table table-hover col-md-12">
    <tr>
        <th class="col-md-2">Name</th>
        <th class="col-md-2">Birth day</th>
        <th class="col-md-2">Status</th>
        <th class="col-md-2">Role</th>
    </tr>
    <div th:each="user *{users}" >
        <tr class="info" >
            <td th:text="${user.getName()}" class="col-md-2">Name</td>
            <td th:text="${user.getBithDate()}" class=" col-md-2">Birth day</td>
            <td th:text="${user.getStatus()}" class="col-md-2">Status</td>
            <td th:text="${user.getRole()}" class="col-md-2">Role</td>
        </tr>
    </div>
</table>
</body>
</html>